* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
  
    padding: 21.84px 0;


}

:root {
    --primaryColor: #3A3845;
    --primaryFont: Inter;
}

body {
    font-family: var(--primaryFont);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "EB Garamond", serif;
}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;

}

.contanier {
    width: calc(100% - 20%);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    width: 25px;
    display: none;
}

@media screen and (min-width:0) and (max-width:999px) {
    .list {
        display: none;
    }

    .icons .hanan {
        display: none;
    }

    .icons .cart {
        display: block;
    }

    .menu {
        display: flex;
    }
 .contanier{
    width: 100%;
    margin: 0 auto;
 }
    
}

.hero {
    position: relative;
    width: 100%;
    background-image: url('../img/flat-lay-composition-different-sized-plates\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    display: flex;



}

.content {
    width: 420px;
    height: 640px;
    background-color: #826F66;
    position: absolute;
    left: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.content p,
h1 {
    color: #FFFFFF;
}

.content .hero-bt {
    width: 220px;
    height: 40px;
}

.icon-con {
    width: 85px;
    height: 81px;
}


@media screen and (min-width:0) and (max-width:768px) {
    .hero {
     flex-direction: column-reverse;
       background-position: center top;
       height: 600px;
       width: 100%;
    }

    .content {
       position: relative;
       width: 100%;
       height: auto;
      padding: 60px 20px;
      top: 350px;
      left: 0;

    }


}

.collections {
    text-align: center;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 40px;
 

}

.collections h2 {
    margin-top: 23px;
}

.collection {
    width: calc((100% - 90px) / 4);
    text-align: center;
}

@media screen and (min-width:0) and (max-width:400px) {
    .collections .row {
        flex-direction: column;
    }

    .collection {
        width: 100%;
    }
}

@media screen and (min-width:401px) and (max-width:700px) {
    .collection {
        width: calc((100% - 30px) / 2)
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
    .collection {
        width: calc((100% - 60px) / 3)
    }
}

.christmas-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}

.christmas-cont {
     height: 348px;
    background-color: #F7F6F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 60px 64px 60px;
    gap: 20px;

}

.christmas-img img {
    height: 348px;
   
}


.christmas-cont h2 {
    width: 398px;
    font-weight: 700;
    font-size: 28px;
    color: #3A3845;
    letter-spacing: 4%;
    line-height: 32px;
    font-family: Garamond;
    text-transform: uppercase;

}

.christmas-cont p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--primaryFont);
    color: #595667;
}

.christmas-cont button {
    border: none;
    border-bottom: 2px solid black;
}

@media screen and (min-width:0) and (max-width:700px) {

   
.christmas-sec{
      display: grid;
    grid-template-columns:1fr;
   }

   
}


img {
    width: 100%;
}

a {
    text-decoration: none;
    font-family: var(--primaryFont);
    font-size: 14px;
    color: var(--primaryColor);
}

.best_seller {
    text-align: center;
    padding: 80px 0;
}

.best_seller .row {
    gap: 30px;
}

.best_seller h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.best_seller .item_contant {
    margin-top: 24px;
}

.best_seller h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.best_seller .item {
    text-align: left;
    width: calc((100% - (3*30px)) / 4);
    margin-top: 40px;
}

.best_seller .price {
    font-size: 14px;
    font-weight: 500;
}

.best_seller p {
    color: #807F86;
    width: 80%;
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.best_seller .add-to-cart {
    padding: 15px 18px;
    background-color: #FFFFFF;
    border: 1px black solid;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    width: 100%;

}

@media screen and (min-width:0) and (max-width:400px) {
   .best_seller .item{
    width: 100%;
   }
}
@media screen and (min-width:401px) and (max-width:700px) {
  .best_seller .item{
        width: calc((100% - (1*30px)) / 2);
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
  .best_seller .item{
        width: calc((100% - (2*30px)) / 3);
    }
}






.history {
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.history .item {
    
    text-align: center;
    background-color: #F7F6F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 64px 60px 64px 60px;
    gap: 16px;

}

.history .item h2{
    font-size: 28px;
    font-weight: 700;
    font-style: bold;
    font-family: Garamond;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 4%;
    color: #3A3845;
}
.history .item p{
     font-size: 14px;
    font-weight: 400;
    font-style: bold;
    font-family: var(--primaryFont);
    line-height: 24px;
    color: #595667;
}
.history .item button{
    color: #3A3845;
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
    line-height: 20px;
    letter-spacing: 6%;
    text-transform: uppercase;
    text-decoration: underline;
    border: none;
    padding: 15px 18px 15px 18px;
    background-color: #F7F6F5;
   
}


.history .item-img{
    height: 348px;
}
.history .item-im img{
    height: 348px;
}


@media screen and (min-width:0) and (max-width:700px) {

   
.history{
      display: grid;
    grid-template-columns:1fr;
   }

   
}


.blog h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    font-family: Garamond;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 48px;

}

.blog .christmas span {
    color: #807F86;
    font-size: 18px;
    font-style: Semi Bold;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--primaryFont);
}

.sign-up {
    text-align: center;
    padding: 80px 60px 80px 60px;
}

.Signup-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.sign-up p {
    color: #595667;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    font-family: var(--primaryFont);

}

.sign-up h2 {
    color: #3A3845;
    font-size: 28px;
    font-style: Bold;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Garamond;

}

.sign-up input {
    border: none;
    width: 389px;
    border-bottom: 1px solid #3A3845;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

.sign-up button {
    background-color: white;
    padding: 15px 24px 15px 24px;
    border: 1px solid #3A3845;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--primaryFont);
    font-style: Semi Bold;
}

.footer {
    background-color: #3A3845;
    color: #E5E5E5;
    padding-right: 165px;
    padding-left: 165px;
    padding-top: 58px;
}



.footer-brand {
    padding-right: 50px;
    border-right: 1px solid #CAC9CF;

}

.F-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.F-logo img {
    width: 30px;
    margin-right: 10px;
}

.description {
    color: #E5E5E5;
    font-size: 14px;
    line-height: 22px;
    max-width: 303px;
    margin-bottom: 25px;
}

.btn-getstart {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}


.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 30px;
}

.column h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 32px;
    letter-spacing: 6%;
    line-height: 22px;
    font-style: Semi Bold;
    font-weight: 600;
    font-family: var(--primaryFont);
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 10px;
}

.column ul li a {
    color: #E5E5E5;
    font-family: var(--primaryFont);
    font-weight: 400;
    line-height: 22px;
    font-size: 14px;

}


.footer-bottom {
    border-top: 1px solid #CAC9CF;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #A6A6A8;
}

.footer-bottom a {
    color: #807F86;
    text-decoration: underline;
}
@media screen and (min-width:0) and (max-width:768px) {
    .row {
        flex-direction: column;
    }

    .footer-brand {
        border-right: none;
        border-bottom: 1px solid #CAC9CF;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .footer-columns {
        flex-direction: column;
        padding-left: 0;
    }

    .column {
        margin-bottom: 25px;
    }
}