* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {

    padding: 21.84px 0;

}

.list ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.icons ul {
    display: flex;
    gap: 24px;
    list-style-type: none;

}

.contanier {
    width: calc(100% - 20%);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    width: 25px;
    display: none;
}

@media screen and (min-width:0) and (max-width:999px) {
    .list {
        display: none;
    }

    .icons {
        display: none;
    }

    .menu {
        display: flex;
    }
}

.collections {
    text-align: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.collection {
    width: calc((100% - 90px) / 4);
    text-align: center;
}

@media screen and (min-width:0) and (max-width:400px) {
    .collections .row {
        flex-direction: column;
    }

    .collection {
        width: 100%;
    }
}

@media screen and (min-width:401px) and (max-width:700px) {
    .collection {
        width: calc((100% - 30px) / 2)
    }
}

@media screen and (min-width:701px) and (max-width:900px) {
    .collection {
        width: calc((100% - 60px) / 3)
    }
}

img {
    width: 100%;
}

h2 {
    margin-top: 23px;
}